<style>
.columns {
  height:200px;
}

@media (max-width:750px) {
  #blocks .small-3 {
    width:50%;
  }

  #blocks .small-4 {
    width:50%;
  }

  #blocks .small-4:last-child {
    width:100%;
  }
}

@media (max-width:500px) {
  .columns, #blocks .columns {
    width:100%;
  }
}

.light-green {
  background:#55BC75;
}

.light-brown {
  background:#B1A599;
}

.light-red {
  background:#E6623C;
}

.light-blue {
  background:#5F90B0;
}

.yellow {
  background:#EAC85D;
}

.beige {
  background:#F4EDE7;
}

.white {
  background:#FAFAFA;
}

.brown {
  background:#776B5F;
}

.dark-brown {
  background:#64584C;
}

svg {
  max-width:100%;
}

h4 {
  color: rgba(255,255,255,.8);
  font-weight:300;
  font-size:18px;
  margin:15px 0 0 0;
}

</style>
<div class="row" id="blocks">
  <!--
  <div class="columns small-4 light-green">
  </div>
  <div class="columns small-4 light-brown">
  </div>
  <div class="columns small-4 light-red">
  </div>
  <div class="columns small-6 light-blue">
  </div>
  <div class="columns small-6 yellow">
  </div>
  <div class="columns small-3 beige">
  </div>
  <div class="columns small-3 white">
  </div>
  <div class="columns small-3 brown">
  </div>
  <div class="columns small-3 dark-brown">
  </div>
  -->
</div>

<script src="/js/blocks.js"></script>
