<div class="row">
  <div class="columns">
    <form method="post">
      <fieldset>
        <legend>Power reading</legend>

        <div class="row">
          <div class="large-6 columns">
            <label>Value
              <input name="value" type="number" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Time
              <input name="time" type="datetime" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <button>Save</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
